MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/
GEMINI_API_KEY=your_gemini_key_here
SERPER_API_KEY=your_serper_key_here
GNEWS_API_KEY=your_gnews_key_here
SIGHTENGINE_API_USER=your_sightengine_user_here
SIGHTENGINE_API_SECRET=your_sightengine_secret_here
JWT_SECRET=your_jwt_secret_here
PORT=5000
